---
import CSS from './Hero.module.scss';
---
<section class={`hero ${CSS.hero} frontpage-bento`}>
  <div class="bento-1">
    <h2>Kaffe&shy;kalkylatorer</h2>
  </div>
  <div class="bento-2">
    <h2>Kaffe&shy;generatorer</h2>
  </div>
  <div class="bento-3">
    <h2>Kaffe&shy;recept</h2>
  </div>
  <div class="bento-4">
    <h2>Kaffe&shy;recensioner</h2>
  </div>
  <div class="bento-5">
    <h2>Kaffe 1</h2>
  </div>
  <div class="bento-6">
    <h2>Kaffe 2</h2>
  </div>
  <div class="bento-7">
    <h2>Kaffe 3</h2>
  </div>
  <div class="bento-7">
    <h2>Kaffe 4</h2>
  </div>
</section>