---
import CSS from './Hero.module.scss';
---
<section class={`hero ${CSS.hero}`}>
  <div class="hero__wrapper u-container">
    <h1>Kaffekompis</h1>
    <h2>Din guide till den perfekta koppen</h2>
  </div>
</section>