---
import PageLayout from '../../layouts/PageLayout.astro';
---

<PageLayout title="Verktyg">
  <p>H채r kommer det finnas kalkylatorer och annat sm책tt och g책tt att tillg책</p>

  <ul>
    <li><a href="/verktyg/4-6-metoden/">Tetsu Kasuyas 4:6-metod</a></li>
    <li><a href="/verktyg/kaffe-till-vatten-kalkylator/">Kaffe-till-Vatten-kalkylator</a></li>
  </ul>
</PageLayout>