---
import PageLayout from '../../layouts/PageLayout.astro';

export const frontmatter = {
  title: "Recept"
};
---

<PageLayout title="Recept">
  <p>Här kommer det finnas recept(-generatorer) för kaffebryggning</p>
</PageLayout>