/**
 * 4:6 Generator
 */

.four-six-generator {
  @include grid-column(12);
  padding: 4rem 0;

  ul, ol {
    padding-left: 1.5rem;
    li {
      margin-bottom: .75rem;
    }
  }

  ol {
    list-style: decimal;
  }
  ul {
    list-style: disc;
  }
  h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
  }
  .generator-header {
    @include grid-column(6);
    background: var(--background);
    color: var(--text-color);
    // padding: 1rem;
    .calculator-item {
      @include grid-column(6);
      border: 1px solid #ccc;
      padding: 1rem;
      display: flex;
      flex-flow: column;
      label {
        font-size: 1.25rem;
      }
      .input-group {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        margin-top: 1rem;
        button {
          padding: .5rem;
          font-size: 1rem;
          border-width: 1px;
          &:first-child {
            border-radius: 5px 0 0 5px;
            margin-right: -1px;
          }
          &:last-child {
            border-radius: 0 5px 5px 0;
          }
          &:not(:last-child):not(:first-child) {
            margin-right: -1px;
          }
        }
        select {
          width: 50%;
          padding: .5rem;
          font-size: 1rem;
        }
      }
    }
  }
  .instructions {
    @include grid-column(6);
    background: var(--background);
    color: var(--text-color);
    // padding: 3rem;
  }
  .generator-body {
    @include grid-column(12);
    background: var(--background);
    color: var(--text-color);
    padding: 3rem;
  }
}

#roastGrade {
  @include grid-column(6);
  padding: 1rem;
  background: var(--background);
  color: var(--text-color);
  border: 1px solid #ccc;
  margin-top: 1rem;
  display: flex;
  h3 {
    margin-bottom: 1rem;
  }
  .roast-grade {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    .roast-grade-item {
      display: flex;
      flex-flow: column;
      align-items: center;
      img {
        width: 100px;
        height: 100px;
        margin-bottom: .5rem;
      }
      span {
        font-size: 1.25rem;
      }
    }
  }
}