/**
 * 4:6 Generator
 */

.four-six-generator {
  @include grid-column(12);
  padding: 4rem 0;

  ul, ol {
    padding-left: 1.5rem;
    li {
      margin-bottom: .75rem;
    }
  }

  ol {
    list-style: decimal;
  }
  ul {
    list-style: disc;
  }
  h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
  }
  .generator-header {
    @include grid-column(12);
    background: var(--background);
    color: var(--text-color);
    padding: 1rem;
  }
  .instructions {
    @include grid-column(4);
    background: var(--background);
    color: var(--text-color);
    padding: 3rem;
  }
  .generator-body {
    @include grid-column(12);
    background: var(--background);
    color: var(--text-color);
    padding: 3rem;
  }
}