.header {
  padding: 1rem 0;
}
.site-branding {
  height: 100%;
}
.site-branding a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-title {
  font-size: 2rem;
  margin-left: 1rem;
}

.navigation {
  ul {
    display: flex;
    position: relative;
    li {
      svg {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        path,
        circle {
          fill: var(--link);
        }
      }
      a {
        display: flex;
        flex-flow: row;
        align-items: center;
        color: var(--link);
        text-decoration: none;
        font-weight: 600;
        font-size: 12px;
        text-transform: uppercase;
      }
      &.dropdown {
        position: relative;

        &:hover .dropdown-menu {
          display: block;
        }
      }
    }

    .dropdown-menu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: var(--background);
      padding: 0.5rem;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

      li {
        margin-bottom: 0.5rem;

        a {
          font-size: 14px;
          text-transform: none;
        }
      }
    }
  }
}