@font-face {
  font-family: "Noto Sans";
  font-display: swap;
  src: url("/fonts/NotoSans-VariableFont_wdth,wght.ttf") format("woff2-variations"),
       url("/fonts/NotoSans-VariableFont_wdth,wght.ttf") format("woff-variations"),
       url("/fonts/NotoSans-VariableFont_wdth,wght.ttf") format("truetype-variations");
}