@font-face {
  font-family: "Golos UI";
  font-display: swap;
  src: url("/fonts/golos-ui_vf.woff2") format("woff2-variations"),
       url("/fonts/golos-ui_vf.woff2") format("woff-variations"),
       url("/fonts/golos-ui_vf.woff2") format("truetype-variations");
}