---
import PageLayout from '../../layouts/PageLayout.astro';

export const frontmatter = {
  title: "Kontakt"
};
---

<PageLayout title="Kontakt">
  <p>Här kommer det finnas kontaktformulär eller andra kontaktsätt som är förenliga med plattformen.</p>
</PageLayout>