
---
const { title, description, icon, link } = Astro.props;
---

<a href={link} class="block">
  <div class="bg-[#FFE566] p-6 border-3 border-black neo-card-shadow hover:-translate-x-1 hover:-translate-y-1 transition-transform">
    <div class="text-4xl mb-4">{icon}</div>
    <h3 class="text-2xl font-bold mb-2">{title}</h3>
    <p class="text-lg">{description}</p>
  </div>
</a>
