---
import PageLayout from '../layouts/PageLayout.astro';
import Hero from '../components/Hero/Hero.astro';
---

<PageLayout title="Home Page">
  <Hero />
  <div>Welcome to your new Astro site! This is a basic starter template for building a new site with Astro.</div>
  <div>To learn more about Astro, check out the <a href="https://astro.build">official docs</a> or join the <a href="https://astro.build/chat">Astro Discord channel</a>.</div>
  <div>Now go build something great.</div>
</PageLayout>