---
import { Image } from 'astro:assets';
import siteLogo from '../assets/bean2cup-logo.svg';
import Navigation from '../components/Navigation.astro';
---
<style>
  body {
    background: rgb(233,202,176);
  }
  .header {
    color: #f6efe0;
  }
  .site-branding {
    height: 100%;
  }
  .site-branding a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .site-title {
    font-size: 2rem;
    margin-left: 1rem;
  }
</style>
<header class="header">
  <div class="container header-container">
    <div class="site-branding">
      <a href="/">
        <Image src={siteLogo} class="site-logo" width="100" height="100" alt="A description of my image." />
        <div class="site-branding__wrapper">
          <div class="site-branding__title">KaffeKompis</div>
          <div class="site-branding__subtitle">Din guide till den perfekta koppen</div>
        </div>
      </a>

    </div>
    <nav aria-label="Huvudmeny" class="navigation">
      <Navigation />
    </nav>
  </div>
</header>